<!DOCTYPE html>
<html lang="en">
    {{template "header" .Header}}
    {{template "breadcrumb" .Breadcrumb}}
    <div class="m-3">
        <div class="row row-cols-1 row-cols-md-2">
        {{range .Domains}}
            {{$domain := .}}
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header">
                        <a href="/domain/{{$domain.ID}}">{{$domain.ID}}</a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">v{{$domain.Version}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{$domain.Address}}</h6>
                        <div class="btn-group mr-2" role="group" aria-label="First group"></div>
                        {{range $type, $service := $domain.Services}}
                            <a href="/domain/{{$domain.ID}}/service/{{$type}}" class="btn btn-primary">{{$type}}</a>
                        {{end}}
                    </div>
                </div>
            </div>
        {{end}}
        </div>
    </div>
    {{template "footer"}}
</html>